<% layout("layout/boilerplate") %>
    <h1 class="text-center">Details of <%= studentData.name %>
    </h1>
    <div class="col-md-4">
    <div class="card col-md-12">
        <div class="row">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/813px-Unknown_person.jpg?20200423155822"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name:<%= studentData.name %>
                </h5>
                <p class="card-text">class:<%= studentData.class %>
                </p>
                <p class="card-text">Roll Number:<%= studentData.rollNumber %>
                </p>
                <p class="card-text">Finger_id:<%= studentData.Finger_id %>
                </p>
                <p class="card-text">Finger_Hash:<%= studentData.Finger_Hash.substring(0,60) %>......................................</p> <br>
                <a href="/students">Go Back</a>
                <form action="/students/<%= studentData.id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger ml-30">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <table class="table table-light table-striped-columns">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<= date.length;i++){%>
                <tr>
                    <th scope="row">
                        <%= i+1 %>
                    </th>
                    <td>
                        <%= date[i] %>
                    </td>
                    <td>
                        <%= time[i] %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>